Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region  IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy         Thresholds


# Standalone electrons: EG + loose track ID                                                                          
EGTrackID   EGTrackID   Electron -1 2.8   -1 -1 UseFlag  1   -1 -1 -1 EGTrackID   1500   0  150   560 -2.8  2.8   200   0  5  100   0  10 EG

# Track-matched electrons: TkElectron + loose track ID                                                                         
TkElectronTrackID TkElectronTrackID Electron -1 2.8   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackID 1500   0  150   560 -2.8  2.8   200   0  1  100   0  10 EG